.panel-workspace-indicator {
  padding: 0 0px;
  margin: 3px;
  height: 7px;
  width: 7px;
  border-radius: 7px;
}

.panel-workspace-indicator-box {
  padding: 0px 0;
}

.panel-workspace-indicator-box .workspace {
  width: 30px;
}

.panel-workspace-indicator,
.panel-workspace-indicator-box .workspace {
  border: 0px solid #cccccc;
  background-color: rgba(250, 249, 246, 0.2);
  color: rgba(250, 249, 246, 0.2);
}

.panel-workspace-indicator-box .workspace {
  background-color: rgba(250, 249, 246, 0.2);
  border-left-width: 0;
}

.panel-workspace-indicator-box .workspace:first-child {
  border-left-width: 1px;
}

.workspace-indicator-active {
  background-color: #886C6D;
  border: 2px ridge #EEEEEE;
  color: #886C6D;
  height: 7px;
  width: 25px;
}

